.App-body form {
  margin-top: 1rem;
}
.App-body form button {
  padding: 0.15rem 0.3rem;
  border-radius: 3px;
  border: 1px solid;
  background: #fefefe;
  /* box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.1); */
}
.App-body input {
  margin: 0 1rem;
  /* padding: 0.1rem; */
}
